.card{
border: none;
}
.image{
    width: 10rem !important;
    height: 10rem !important;
    border-radius: 50% !important;
}
.link-icon{
    padding: 0.5rem;
    font-size: 1.2rem !important;
}
button{
    border: none !important;
    font-size: 0.8rem;
    padding: 2px 20px !important;
    border-radius: 2px;
    margin: 5px;
}
.Email-btn{
    background-color: grey;
    color: black;
}
.linkedin-btn{
    background-color: rgb(28, 24, 53);
    color: white;
}
.linkedin-btn:hover{
    background-color: rgb(28, 24, 53);
    color: white;
}